a {

  width: 320px;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
	text-decoration: none;

  }
.logo{
  position: absolute;
  top: 8px;
  right:16px;

}
.services{
  position: relative;
  left:10%;
  top:50px;
  align: center;
	margin-bottom: 50px;
	width: auto;


}

.services-info-img{

}

body {
   height: 100%;
   font-family: 'Titillium Web', sans-serif;
}


h1, h2, h3, h4, h5 {
   font-family: 'Bangers', cursive;
   letter-spacing: 1px;
   margin-bottom: 15px;



}
.article
{
  display:flex;
	flex-wrap: wrap;
  background: whitesmoke;
  width: 420px;
	border:1px solid black;
	margin-bottom: 40px;
  padding: 15px;

}
.example-div{
	border-top:1px solid grey;
	border-bottom: 1px solid grey;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	padding: 40px

}
.services-info-img{
	position: absolute;
	top: 273%;
	right:16px;


}

.bottom{
	display:flex;
	flex-wrap: wrap;
	width: 420px;
	border:1px solid black;
	margin-bottom: 40px;
	padding: 15px;
}
.footer{
	position: absolute;
	bottom:10px;
	justify-content: center;

}
